.section-cat {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .section-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem .8rem 0 .8rem;
    width: 38rem;
  }
  
  /* .section-card {
    margin: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 41rem;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
  } */
  
  img {
    align-self: flex-start;
    height: 23rem;
    width: 38rem;
    border-radius: 5px;
    box-shadow: 0px 6px 13px -3px rgba(20,20,20,1);
  }
  
  
  h3 {
    text-align: center;
    font-size: 2.2rem;
    padding: 0 1.5rem;
    margin-top: -11rem;
    text-shadow: 2px 2px #000000;
    color: white;
  }