.remove {
    position: absolute;
    font-size: 1.1rem;
    width: unset;
    border-radius: 3px;
    opacity: .8;
    font-weight: 600;
    right: 0;
    color: white;
    z-index: 2;
    background-color: black;
    padding: .5rem;
    opacity: .6;
    cursor: pointer;
  }

.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 115rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 8px -3px rgba(138,138,138,1);
  padding: 2rem;
  margin-bottom: 4rem;
}

  .categories h2,
  .other-categories h2{
  align-self: flex-start;
  height: 5rem;
}

